.left-component,
.right-component {
  flex: 1;
  text-align: center;
}

.middle-component {
  flex: 2;
  text-align: center;
}

.image {
  height: 7rem;
  width: 7rem;
}

.header-top {
  background: var(--primary);
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-top p {
  color: white;
  letter-spacing: 0.06rem;
  font-family: serif;
  line-height: 1.6;
}

.header-cart-badge:hover {
  cursor: pointer;
}
