/* GLOBAL STYLESHEET */
/* Add global directives here, otherwise use component-level stylesheets */

:root {
  /* Color palette */
  --primary: #855832;
  --primary-hover: #b59a84;
  --primary-disabled: #b59a84;
  --white: #fff;
  --black: #000;
  --text: #11151c;
  --background-light: #fefefe;
  --background-primary: #dfdfd8;
  --foreground: #11151cbf;
  --light-gray: #dbdbdc;
  --light-text: #dfdfd8;
  --light-text-foreground: #dfdfd8bf;

  /* Font size */
  --font-base: '16px';
  --font-scale-52: 3.25rem;
  --font-scale-48: 3rem;
  --font-scale-36: 2rem;
  --font-scale-28: 1.75rem;
  --font-scale-24: 1.5rem;
  --font-scale-20: 1.25rem;
  --font-scale-18: 1.125rem;
  --font-scale-16: 1rem;
  --font-scale-14: 0.875rem;
  --font-scale-12: 0.75rem;
  --font-scale-8: 0.5rem;
}
