.policy {
  padding: 1.5rem 3.125rem;
  max-width: 50rem;
  margin: 0 auto;
  font-size: var(--font-scale-16);
  font-family: inherit;
  line-height: 1.8rem;
  color: var(--foreground);
}

.policy-title {
  font-size: var(--font-scale-52);
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
}

.policy-return a {
  display: flex;
  align-items: center;
  font-size: var(--font-scale-18);
  font-weight: 400;
  color: var(--primary);
  width: fit-content;
}

.policy-return a:hover {
  text-decoration: none;
  color: var(--primary-hover);
}

div,
p span {
  font-family: inherit;
  line-height: 1.8rem;
  color: var(--foreground);
  font-size: var(--font-scale-16);
}

p {
  display: block;
  margin: 1rem 0;
  text-align: justify;
}

p a {
  color: var(--primary);
  text-decoration: underline;
}

p a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

div ul {
  list-style: inside;
}
