.policies {
  padding: 1.5rem 3.125rem;
  max-width: 50rem;
  margin: 0 auto;
  font-family: inherit;
  line-height: 1.8rem;
  color: var(--foreground);
}

.policies-title {
  font-size: var(--font-scale-52);
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
}

.policies-wrapper {
  display: block;
  width: 100%;
}

.policy-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--primary);
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  color: var(--primary);
}

.policy-item a {
  color: var(--primary);
}

.policy-item a:hover {
  color: var(--primary-hover);
  text-decoration: none;
}
